$pink-0: #F9CDD4;
$pink-1: #F292A1;
$pink-2: #EE7587;
$pink-3: #EB586F;
$pink-4: #EB415B;
$pink-5: #D14E63;

$blue-0: #C9E3F2;
$blue-1: #89C1E4;
$blue-2: #6EACD2;
$blue-3: #4AA0D5;
$blue-4: #1695E3;
$blue-5: #428EBE;

$sky-1: #D8E9F0;
$sky-2: #C0CFD6;

$coal-1: #454553;
$coal-2: #3D3D4A;

$text-color-primary: $coal-2;
$text-color-secondary: $sky-2;

$color-primary: $blue-3;
$color-accent: $pink-3;

$text-size-sm: 14px;
$text-size-base: 16px;
$text-size-lg: 20px;
$text-size-xl: 24px;
$text-size-2xl: 32px;
$text-size-3xl: 48px;